@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

* {
  box-sizing: border-box;
}

body {  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit; 
}

#root {
  width: 100%;
  height: 100vh;
}